
{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Task List</h1>
  

  <!-- search field -->
  <div style="float:right">
    <form>
        <input type="text" placeholder="Search" name="search"
        {% if search %} value="{{ search }}" {% endif %}
        >
        <!-- search icon for button -->
        <button type="submit"><i class="fa fa-search"></i></button>
      <a href="{% url 'task_list_create' %}"><i class="fa fa-undo"></i></a>
    </form>
  </div>
  {% if task_list %}
  <ol class="list-group list-group-numbered">
    {% for task in task_list %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
           <div class="fw-bold">
            <a href="{% url 'task_details' task.id %}">{{ task.title }}</a>
            </div>
            {{ task.description }} 
            <div>
              {% if task.owner.id == user.id %}
              (<a  href="{% url 'task_edit' task.id %}">Edit</a> |
              <a  href="{% url 'task_delete' task.id %}" >
                Delete</a>)
              {% endif %}
            </div>
        </div>
        <span class="badge bg-primary rounded-pill">{{ task.status }}</span>
      </li>
    {% endfor %}
  </ol>
  {% else %}
    {% if search %}
        <p>There are no task that match with your search.</p>
    {% else %}
        <p>There are no task in the database.</p>
    {% endif %}
  {% endif %}
  <div style="margin-top: 20px;"></div>
    {% if user.is_authenticated %}
        <!-- <a href="{% url 'task_list_create' %}">Create a new task</a>| -->
        <h1>Insert your task:</h1>
        <form action="{% url 'task_list_create' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
                {% if form.errors.title %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors.title }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
                {% if form.errors.description %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors.description }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary" value="Save">Submit</button>
        </form>
    {% endif %}
      
{% endblock %}
