
{% extends "base_bootstrap.html" %}

{% block content %}
    <h1>Insert your task:</h1>
    <!-- <form method="post" action="{% url 'task_list_create' %}">
        {% csrf_token %}
        {% for field in serializer %}
          {{ field.label_tag }} {{ field }}
          {{ field.errors }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form> -->



    <form action="{% url 'task_list_create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
            {% if form.errors.title %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors.title }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
            {% if form.errors.description %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors.description }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary" value="Save">Submit</button>
    </form>
    
    
    <!-- <a href="{% url 'task_list_create' %}">Back To List</a> -->
    
{% endblock %}
