<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

    <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

    {% block head %} {% endblock %}
</head>
<body>
    <div class="container">
        {% block navbar %} {% endblock %}
        {% block welcome %} {% endblock %}

        {% block messages %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.level_tag }} alert-dismissible fade show" role="alert">
                        {{ msg.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %} {% endblock %}

</body>
</html>
