{% extends "base_bootstrap.html" %}

{% block content %}

{% if form.errors %}
  <p class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</p>
{% endif %}

<!-- <form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form> -->

<div class="card-body">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Login</button> -->
        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}